body {
    background-color: #fcf6f0;
}

header {
    box-shadow: 0 4px 4px #e4ddd1;
    background-color: #ffffff;
    text-align: center;
    padding: 20px 0;
}

#logo {
    height: 10em;
    mix-blend-mode: multiply;
}
#logo:hover {
    transform: scale(1.1);
    transition: 0.2s;
}
#FirstContentMainPage .btn {
    width: 250px; 
}
hr {
    border: 1px solid #000;
    width: 100%;
}

#bottomHeader {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

#bottomHeader p {
    margin: 0;
}

#bottomHeader a {
    color: rgb(27, 29, 32);
    text-decoration: none;
    font-style: italic;
    font: 1em sans-serif;
}

#bottomHeader p:hover {
    transform: scale(1.1);
    transition: 0.4s;
}
