body {
    background-color: #fcf6f0;
}

header {
    box-shadow: 0 4px 4px #e4ddd1;
    background-color: #ffffff;
    text-align: center;
    padding: 20px 0;
}

#logo {
    height: 10em;
    mix-blend-mode: multiply;
}
#logo:hover {
    transform: scale(1.1);
    transition: 0.2s;
}
#FirstContentMainPage .btn {
    width: 250px; 
}
hr {
    border: 1px solid #000;
    width: 100%;
}

#bottomHeader {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

#bottomHeader p {
    margin: 0;
}

#bottomHeader a {
    color: rgb(27, 29, 32);
    text-decoration: none;
    font-style: italic;
    font: 1em sans-serif;
}

#bottomHeader p:hover {
    transform: scale(1.1);
    transition: 0.4s;
}
footer {
    background-color: #ffffff;
    padding: 40px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: left;
    margin-top: auto;
    box-shadow: 0 -4px 6px #e4ddd1;
}
 
footer h3 {
    font-size: 1.3rem;
    margin-bottom: 20px;
}
 
footer p {
    font-size: 1rem;
    line-height: 1.5;
}
 
footer a {
 
    text-decoration: none;
}
 
footer a:hover {
    color: #ffbb00;
}
 
footer ul {
    list-style-type: none;
    padding-left: 0;
}
 
footer ul li {
    margin-bottom: 10px;
    font-size: 1rem;
}
 
footer ul li a {
    color: black;
    text-decoration: none;
}
 
footer ul li a:hover {
    color: #ffbb00;
}
 
#footerFirst, #footerLeft, #footerCenter, #footerRight {
    flex: 1 1 22%;
    margin: 10px;
}
 
#footerRight i, #footerLeft i {
    margin-right: 10px;
}
 
@media (max-width: 768px) {
    footer {
        flex-direction: column;
        align-items: center;
    }
 
    #footerFirst, #footerLeft, #footerCenter, #footerRight {
        flex: 1 1 100%;
        margin: 20px 0;
    }
}